.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 15px;
  cursor: pointer;
}

.logo__img {
  width: 200px;
  height: 130px;
  background: url(../../assets/svg/harry-potter.svg);
  background-size: cover;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
}
