.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal {
  min-height: 50%;
  min-width: 50%;
  max-width: 80%;
  max-height: 80%;
  background-color: white;
  border-radius: 12px;
  padding: 20px 28px;
  position: relative;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.body {
  flex-grow: 1;
}

.closeButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  right: 4px;
  top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
