*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  color: #fff;
  margin-top: 0;
}

h2,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    margin: 0 10px;
  }
}

.active {
  color: #61ddf0;
  cursor: default;
}

.lds-ring {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
